/*Universal Styles*/

html{
  font-family: 'Montserrat',serif;
  font-size: 18px
}

a{
  text-decoration: none;
}

.btn{
  display: inline-block;
  border-radius:4px;
  padding:10px 15px;
  color:#FFFFFF
  background-color:#AC954E;
  text-align:center;
  margin-top:15px
  box-shadow: 0 2px 4px rgba(0,0,0,5);
}

/*Header*/
.header{
  display: flex;
  padding: 10px;
}

.header h1{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}


body
{
  background-color: #FFFFFF
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
nav
{
  width: 100%;
  background: #FFFFFF
}
ul
{
  width: 80%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
ul li
{
  list-style: none;
  display: inline-block;
  padding: 20px;
}
ul li:hover
{
  background:#AD9649;
}

.toggle
{
  width: 100%;
  padding: 10px 20px;
  background: #505051;
  text-align: right;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: 30px;
  display: none;
}
@media (max-width:768px)
{
  .toggle
    {
      display: block;
    }
    ul
    {
      width: 100%;
      display: none;
    }
    ul li
    {
      display: block;
      text-align: center;
    }
  .active
  {
    display: block;
  }
}

.jumbotron {
  background-image: url("../images/alcohol-cheese-drink-1545529.jpg");
  background-size: cover;
  min-height: 500px;
}
/*Social Buttons*/
#social-buttons{
margin-left:10px;
margin-right:10px;
}
.btn-twitter {
  right: 0px;
  width: 200px;
  padding: 10px;
  background: #00acee;
  border-color: #009ad5;
}

.btn-facebook {
  right: 0px;
  width: 200px;
  padding: 10px;
  background: #4868ac;
  border-color: #314776;
}

.btn-pinterest {
  right: 0px;
  width: 200px;
  padding: 10px;
  background: #FF0000;
  border-color: #FF0000;
}
/*fonts*/

h1{
  color:#F4A460;
}
h2{
  color:#AD9649;
  text-align: center;
}
.lead{
  font-size:18px;
  justify-content:center;
}
