h1
{
  color:red
}
h2
{
  color:blue
}
body
{
  background-color: #FFFFFF
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
nav
{
  width: 100%;
  background: #FFFFFF
}
ul
{
  width: 80%;
  margin: 0 auto;
  padding: 0;
}
ul li
{
  list-style: none;
  display: inline-block;
  padding: 20px;
}
ul li:hover
{
  background:#AD9649;
}

.toggle
{
  width: 100%;
  padding: 10px 20px;
  background: #505051;
  text-align: right;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: 30px;
  display: none;
}
@media (max-width:768px)
{
  .toggle
    {
      display: block;
    }
    ul
    {
      width: 100%;
      display: none;
    }
    ul li
    {
      display: block;
      text-align: center;
    }
  .active
  {
    display: block;
  }
}
